.tab-bar .tab .close-icon {

}
.tab-bar .tab .close-icon:hover {
    opacity: 1.0;
    font-weight: bold;
    color: yellow!important;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
atom-text-editor {
    background-color: #21252b;

    //background-color: #24282b ;
    // background-color: #171A1D;
    background-color: #090a0b;
    text-rendering: optimizeSpeed;
}
.tree-view {

    //background: #24282b ;
    // background: #21252b;
    // background-color: #282c34;
    // background-color: #23272e;
    font-size: 12px;
}

//selecao ativa item tree-view
.tree-view .selected:before,
li.file-entry.list-item.selected {
    padding-bottom: 4px;
    background: #090a0b;
}

//cor da linha ativa do ATOM
atom-text-editor::shadow .lines .line.cursor-line {
    background-color: rgba(255, 255, 255, 0.12);

    // background-color: #2b4047;
}

// COR LINHA NUMERACAO
atom-text-editor::shadow .gutter .line-number {
    color: #FFF;
}

//personalizando o bracket da tag ativa selecionada
atom-text-editor::shadow .bracket-matcher .region,
.bracket-matcher .region {

    // border: 1px solid rgba(11, 11, 11, 0.6);
    // border: 5px inset rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0;

    // border-bottom: 2px double #0088ff;
    // border-bottom: 2px double lime;
    border-bottom: 1px double #4db6ac;
    position: absolute;
    z-index: 100;
}
li.file.entry.list-item::before {
    border-left: 4px solid #FFF;
}

//distancia entre as linhas da tree-view
// .list-tree li:not(.list-nested-item) { line-height: 2.25em;}
/* CONFIGURACAO minimap-controls
background-color: #FFF;
opacity: .3;
cursor: -webkit-grab;
border-top: 2px solid cyan;
border-bottom: 2px solid cyan;
*/
