/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

 /*selecao ativa item tree-view */
 atom-text-editor {
   font-family: 'Fira Code';
   font-style: normal;
   text-rendering: optimizeLegibility;
 }
 atom-text-editor::shadow {
   .string.quoted,
   .string.regexp {
     -webkit-font-feature-settings: "liga" off, "calt" off;
   }
   .source.js.jsx > .keyword.control.flow.js,
   .storage, .type .function {
     vertical-align: baseline;
     font-family: 'flottflott';
     height: inherit;
     font-size: 1.5em;
     line-height: 1rem;
   }
   .source.js.jsx,
   .storage.type.function.arrow.js,
   .variable {
     font-family: 'Fira Code';
     font-style: normal;
   }
   .string.unquoted.js {
     color: #CDD3DE;
   }
   .entity.name {
     font-weight: bold;
   }
 }
 // atom-text-editor, atom-text-editor { background-color: #2e2e2f;}
 .tree-view .selected:before, li.file-entry.list-item.selected {
     border-left: 4px solid #0088ff;
     background-color: rgba(255, 255, 255, 0.13); /*se tema escuro, se claro comente*/
     transition: all 0.3s ease-in-out;
 }
 //tag selecionada
 .bracket-matcher .region, atom-text-editor.editor .bracket-matcher .region {
     background-color: rgba(150, 150, 150, 0.22); /*tema claro*/
     border-bottom: 2px solid #0088ff; /*tema claro*/
     border-radius: 0px;
     z-index: 9;
     // border-bottom-width: medium;
     /* background-color: rgba(255, 255, 255, 0.09);tema escuro*/
     /* border-bottom: 2px double #0bb6ff; tema escuro*/
 }
 //efeito mouse sobre botoes
 .btn.btn-default:focus, .btn.btn-default:hover, .btn:focus, .btn:hover {
     color: #FFFFFF;
     background-image: none!important;
     background: #475fd7!important;
     border: 1px solid #000!important;
     transition: all 0.3s ease-in-out;
 }
 //aba ativa borda azulada
 .tab-bar.active:before, .tab.active::before {border-left: 6px ridge #475fd7;}
 /*icone da tab alterada*/
 .tab-bar .tab.modified:not(:hover) .close-icon {
     // border: 2px double #ff0000!important;
     //border-radius: 50%;
     color: #ff0000!important;
 }

 //cor da linha ativa do ATOM
 atom-text-editor.editor .lines .line.cursor-line {
     background-color: rgba(255, 255, 255, 0.1); /*tema escuro */
     /*background-color: #f6f5f5; /* tema branco */
     /*background-color: #fbf6eb; /* tema sepia */
 }
 // cor da linha de numeração
 /*atom-text-editor.editor .gutter .line-number { color: #333333!important;} /*tema claro*/
 atom-text-editor.editor .gutter .line-number { color: #b1bec3!important;} /*tema escuro*/

 /* ADICIONAR AO MINIMAP
 border-top: 3px double #0088ff;
 border-bottom: 3px double #0088ff;*/
